body {
    background-color: rgb(250, 212, 218);
    font-family: Arial;
    font-size: 13px;
}

/*
background colour,font family and size is applicable all over programm since its in body section except for those having predefined meaning like h1/b/u...
*/

h1 {
    font-size: 30px;
}

/*
h1 only implimented on h1 style fonts
*/

.seconde {
    font-size: 16px;
    color: rgb(255, 255, 167);
    font-family: Franklin Gothic Medium;
    border: 5px solid black;
}


/*
.seconde used here is like function calling form class as in c++
for id its,
#enter-your-name(id name(like object))
border provides border along content
*/